@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Medium.eot');
    src: local('../fonts/TT Norms Pro Medium'), local('TTNormsPro-Medium'),
        url('../fonts/TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Medium.woff') format('woff'),
        url('../fonts/TTNormsPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	text-decoration: none;
	font-family: 'TT Norms Pro', sans-serif;
}

li {
	list-style: none;
}

.background {
	background: url(../img/HeroBackground.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
}

.card{
	width: calc((100% - 1 * 2 * 5px) / 1);
	max-width: 1140px;
	height: 700px;
	background: url(../img/backgroud-img.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
}

@media ("max-width: 340px") {
	.card {
		background-size: cover;
		background-size: 500px 700px;
	}
	.header {
		max-height: 140px;
	}
	.header__logo img {
			width: 105px;
			max-height: 20px;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin-right: none;
	}
	.tariffs {
		display: flex;
		flex-wrap: wrap;
	}
	.within {
		width: 154px;
		display: flex;
		flex-direction: column;
	}
	.film__logo img {
		width: 0;
	}
	.film__logo {
	}
}

@media ("max-width: 900px") {
	.header {
		max-height: 140px;
	}
	.header__logo img {
			max-width: 70px;
			max-height: 20px;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: none;
	}
	.tariffs {
		display: flex;
		flex-wrap: wrap;
	}
}
