@mixin flex($jc: center, $ai: center) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

.header {
	z-index: 10;
	background: $HeaderBackground;
	@include flex($jc: space-between,$ai: center);
	&__logo {
		height: 50px;
		display: flex;
		align-items: center;
	}
	&__logo img {
		padding-left: 20px;
		max-width: 120px;
		max-height: 20px;
	}
}

.menu {
	width: 650px;
	@include flex($jc: space-between,$ai: center);
	&__item :hover {
		color: $MenuItemHover;
	}
	&__item a {
		color: $MenuItemColor;
		text-decoration: none;
		font-weight: normal;
		text-transform: capitalize;
		font-size: 16px;
		letter-spacing: .8px;
	}
	&__item-sport {
		cursor: pointer;
		color: white;
		position: relative;
		width: 60px;
    	height: 50px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	}
	&__item-sport:hover {
		background: white;
		color: $MenuItemHover;
	}
	&__item_bar-sport {
		background: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: #fff;
		width: 240px;
		height: 200px;
		top: 50px;
		left: 0;
		position: absolute;
		transition: transform .1s;
		transform: scale(0);
    	z-index: 11;
		box-shadow: 5px 5px 3px;
		font-size: 14px;
		color: #333333;
		& li:hover {
			color: $MenuItemHover;
		}
	}
	&__item-sport:hover .menu__item_bar-sport {
		transform: scale(100%);
	}
	&__item-buttom {
		cursor: pointer;
		position: relative;
		height: 50px;
    	width: 54px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	&__item-buttom:hover {
		background: #ffffff;
	}
	&__item-img {
		font-size: 27px;
		color: gray;
		padding: 4px 17px 17px;
		&:hover {
			color: $MenuItemHover;
		}
	}
	&__item-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: #fff;
		width: 240px;
		height: 608px;
		top: 50px;
		left: 0;
		position: absolute;
		transition: transform .1s;
		transform: scale(0);
    	z-index: 100;
		box-shadow: 5px 5px 3px;
		overflow-y: scroll;
		font-size: 14px;
		color: #333333;
		& li:hover {
			color: $MenuItemHover;
		}
	}
	&__item-buttom:hover .menu__item-bar {
		transform: scale(100%);
	}
}

.tariffs {
	width: 260px;
	@include flex ($jc: space-around,$ai: center);
	& a:hover {
		color: $MenuItemHover;
	}
	& a {
		color: $MenuItemColor;
		text-decoration: none;
		margin: 15px;
	}
	&__buttom {
		border: 1px solid $MenuItemColor;
		max-width: 85px;
		max-height: 30px;
		border-radius: 5px;
		@include flex();
	}
	&__buttom:hover {
		border: 1px solid $MenuItemHover;
		& a {
			color: $MenuItemHover;
		}
	}
	&__search img {
		max-width: 20px;
		max-height: 20px;
	}
}